.u-section-1 {
  background-image: url(../images/IMG12.jpeg);
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-group-1 {
  width: 468px;
  min-height: 457px;
  background-image: none;
  height: auto;
  margin: 112px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin: 52px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 20px auto 0 0;
  padding: 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    min-height: 453px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-group-1 {
    width: 326px;
    min-height: 426px;
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 16.91% 100%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-1 {
    width: 270px;
    min-height: 438px;
    margin-bottom: 48px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 49.79% 100%;
    background-size: auto 130%;
  }

  .u-section-1 .u-group-1 {
    width: 222px;
    min-height: 452px;
    margin-bottom: 34px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  min-height: 1083px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 820px);
  height: 216px;
  background-image: none;
  margin: 777px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 365px);
  height: 447px;
  margin: -609px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 428px;
  min-height: 376px;
  background-image: url(../images/fg_150.png);
  height: auto;
  margin: -308px auto 0 calc(((100% - 1140px) / 2) + 263px);
}

.u-section-2 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-2 .u-group-2 {
  width: 561px;
  min-height: 768px;
  height: auto;
  margin: -809px calc(((100% - 1140px) / 2) + -27px) 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 0 30px 0 211px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 30px 0 122px;
}

.u-section-2 .u-image-2 {
  width: 491px;
  height: 640px;
  margin: -757px auto 60px calc(((100% - 1140px) / 2) + 79px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 820px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 365px);
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 263px);
    height: auto;
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2) + -27px);
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-left: 60px;
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 79px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 365px);
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 263px);
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2) + -27px);
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 79px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 365px);
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 112px);
  }

  .u-section-2 .u-group-2 {
    margin-right: calc(((100% - 540px) / 2) + -27px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 49px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 886px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 0 30px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-top: 2px;
    margin-right: 38px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 443px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1285px;
}

.u-section-3 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url(../images/IMG13.jpeg);
  background-position: 50% 50%;
  margin: 60px 115px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url(../images/IMG1.jpeg);
  background-position: 50% 50%;
  margin: -596px auto 0 71px;
}

.u-section-3 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url(../images/IMG10.jpeg);
  background-position: 50% 50%;
  margin: 50px auto 0 156px;
}

.u-section-3 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 358px;
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 13px 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-3 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-left: 171px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 52px;
  }

  .u-section-3 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 20px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-3 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -508px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-left: -19px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 167px;
    height: 167px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-3 .u-image-1 {
    width: 293px;
    height: 293px;
  }

  .u-section-3 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -308px;
  }

  .u-section-3 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-left: -14px;
  }

  .u-section-3 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -370px;
  }

  .u-section-3 .u-shape-2 {
    width: 101px;
    height: 101px;
  }
} 

.u-section-4 {
  min-height: 500px;
}

.u-section-4 .u-gallery-1 {
  height: 523px;
  grid-gap: 10px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 408px;
  }

  .u-section-4 .u-gallery-1 {
    height: 431px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 967px;
  }

  .u-section-4 .u-gallery-1 {
    height: 990px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2205px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2228px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1380px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1403px;
    margin-right: initial;
    margin-left: initial;
  }
}